[Unit]
Description=UDP Custom
Documentation=https://github.com/RidwanzAnphelibelll

[Service]
User=root
Type=simple
ExecStart=/usr/bin/udp/udp-custom server
WorkingDirectory=/usr/bin/udp/
Restart=always
RestartSec=2s

[Install]
WantedBy=default.target
