[Unit]
Description=UDP Custom By @RidwanzSaputra
Documentation=https://github.com/RidwanzAnphelibelll
After=network.target

[Service]
User=root
Type=simple
WorkingDirectory=/usr/bin/udp/
ExecStart=/usr/bin/udp/udp-custom server
Restart=always
RestartSec=2s

[Install]
WantedBy=default.target